<div class = "container" id = "mainframe">
	<div class = "jumbotron bg-white border">
        <div class='container bg-white text-dark'>
         	<%= image_tag("rondon50.jpg", class: "img-fluid rounded mx-auto d-block rounded border",style: "max-width: 25%; height: auto;", alt: "50 Anos Rondon") %>
        </div>
     </div>
</div>