<div class="form-group">
  &nbsp;
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">Doação única</h4>
        <%= image_tag("unica.svg", width: "220", height: "120") %>
        

        <div class="form-group">
          &nbsp;
        </div>

        <p class="card-text"></p>
        <%= link_to "Continuar", doar_fisica_unica_valores_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card text-center">
      <div class="card-body">
        <h4 class="card-title">Doação mensal</h4>
        <%= image_tag("mensal.png", width: "150", height: "150") %>
                
        <div class="form-group">
          &nbsp;
        </div>

        <p class="card-text">Contribua mensalmente através do cartão de crédito de forma automática. Cancelamento a qualquer momento.</p>
        <p> Em construção </p>
      </div>
    </div>
  </div>
</div>