<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-3">Erro 404</h2>
    <p class="lead">O endereço que você visitou não existe. Verifique a barra de navegação se há existência de erros</p>
  	<div class="form-group">
  		&nbsp;
	</div>
    <center><%= image_tag("logo.png", width: "250", height: "250") %></center>
  </div>
</div>.