<div class="form-group">
  &nbsp;
</div>

<div class="card">
  <div class="card-header">
    Citação
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <div class = "row">
      	<div class = "col"><center><%= image_tag("logo.png", width: "120", height: "120") %></center></div>
      	<div class = "col-10"	
      		<p class = "font-italic" style = "font-size:	1rem;">"Esta viagem deu-nos uma certeza: não basta olhar o mapa do Brasil aberto sobre a mesa de trabalho ou pregado na parede de nossa casa. É preciso andar sobre ele para sentir de perto as angústias do povo, as suas esperanças, seus dramas ou suas tragédias; a sua história, a sua fé no destino da nacionalidade. Só então se compreenderá que a responsabilidade desta geração é simplesmente formidável. Tudo indica, porém, que agora começou, para alegria nossa, a batalha longamente esperada da integração dos nossos irmãos abandonados, na comunhão nacional".</p></div>
      <div class = "row">
		<div class = "col">
			<p class = "text-right" style = "font-size:	0.8rem;">Equipe de Filosofia da Operação Nacional do PROJETO RONDON PR-III, em Janeiro de 1969, realizada no Município de Jardim - MT</p>
		</div>
	</div>
    </blockquote>
  </div>
</div>



<div class="form-group">
  &nbsp;
</div>

<div class = "row">
	<div class = "col">
		<h5 class = "font-italic">"São direitos sociais a educação, a saúde, a alimentação, o trabalho, a moradia, o lazer, a segurança, a previdência social, a proteção à maternidade e à infância, a assistência aos desamparados".</h5>
	</div>
</div>

<div class = "row">
	<div class = "col">
		<p class = "text-right">Brasil Artigo 6º da Constituição da República Federativa de 1988.</p>
	</div>
</div>

<div class = "row" style = "border: 3px solid #FF3500;">
	<div class = "col">
		<div class="form-group">
 			&nbsp;
		</div>

		<p>	O Projeto Rondon® existe há 48 anos. Nesse tempo, consolidou-se como a mais importante, séria e eficaz iniciativa voltada para os estudantes universitários e seus professores.
			Mais importante do que a assistência que presta a comunidades carentes - em especial na visada Região Amazônica - o Projeto Rondon® se desperta e desenvolve nos universitários a certeza de que devem estudar com afinco para serem profissionais melhores e mais capazes de vencerem como indivíduos e de se tornarem cidadãos de valor.</p>
			<p>Aonde quer que se pergunte sobre o Projeto Rondon® se ouvirá os melhores comentários de alguém que participou dele ou conheceu suas atividades dedicadas aos menos favorecidos. Numerosas autoridades nos últimos anos participaram de operações do Projeto Rondon® e dizem com orgulho: "Sou Rondonista.".</p>
			<p>A marca do  projeto Rondon® com o lema "Integrar Para não Entregar" foi desenvolvida pelos próprios universitários da primeira operação na Amazônia. Ela é sempre atual...</p>
			<p>É essa marca de relevante valor moral e ético, admirada, respeitada, que reforça qualquer iniciativa, que queremos associar à sua empresa ou à você. Estamos certos de que as intenções que materializarmos juntos respaldará reciprocamente nossas iniciativas, porque nossa marca somente é associada a projetos de mérito.</p>
			<p>Durante muitos anos o Projeto Rondon® atuou como uma entidade do Governo Federal, dele recebendo recursos para realizar todas as suas operações. No Governo José Sarney, por absoluta inadvertência de quem propôs, o Projeto Rondon® deixou de ser o ente governamental.</p>
			<p>Porém, ele não poderia acabar-se. Como não se extinguiu! Lideranças Rondonistas uniram-se em torno da ideia-força e criaram uma ONG, posteriormente transformada em OSCIP - Organização da Sociedade Civil de Interesse Público, devidamente registrada no Ministério da Justiça e por ele fiscalizada, com a marca registrada de Projeto Rondon® - Instituto Projeto Rondon.</p>
			<p>Com essa nova estrutura organizacional e sem solução de continuidade, o Projeto Rondon® seguiu atuando em operações conjuntas com o Governo Federal, estados e municípios, e entidades privadas.
			Somente em 2009 fomos premiados pela Presidência da República por nossa atuação com as Secretarias de Direitos Humanos e Assistência Social do Amazonas e do Maranhão, promovendo o Registro Civil de Nascimento para indígenas do Amazonas e de pessoas de áreas desassistidas de 25 municípios maranhenses. Eles se tornaram cidadãos. Passaram a existir!</p>
			<p>Podemos e desejamos utilizar a mão de obra voluntária de estudantes e professores universitários em ações com o patrocínio de sua empresa.</p>
			<p>Esse patrocínio ao PROJETO RONDON está amparado pelos dispositivos legais que estão na Constituição Federal, inciso III do § 2º do artigo 13, que, com esse instrumento legal, passa a abranger também as entidades qualificadas como OSCIP. Essa lei permite a operacional das doações efetuadas. Significa dizer: melhorar comunidades carentes, ajudar o seu país e desenvolver em universitários, futuros dirigentes do Brasil, uma verdadeira consciência, idoneidade e legitimidade, pois, fazer a diferença na vida é fundamental para que todos pratiquem a efetiva responsabilidade social, expondo laços, crenças e ações reais, provando valores e virtudes sociais, que resultarão em benefícios para todos.</p>
			<p>Gostaríamos de receber uma responsta de V.Sª. e um convite para nos reunirmos e ampliarmos, pessoalmente, nossas intenções.</p>
			<p>Cordialmente,</p>
			<p>Saudações Rondonistas,</p>
			<div class="form-group">
  				&nbsp;
			</div>
			<p>Dário Ferreira Emerenciano.</p>
			<p>Diretor Presidente do Instituto PROJETO RONDON PE</p>
	
	</div>
</div>